<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    {{!-- <h1 class="m-0 text-dark">{{title}}</h1> --}}
                    <!-- <h1 class="m-0 text-dark">Welcome to BeFa EPICA System</h1> -->
                    <h3>Dashboard</h3>
                </div>
            </div>
        </div>
    </div>
    <iframe title="Report Section" width="1024" height="804" src="https://app.powerbi.com/view?r=eyJrIjoiZmIwMWQxNTAtZjE5NS00ZmVjLTg1MjgtYTMxZTg2NTM0NzZjIiwidCI6IjVmZjE5MWM4LWM0NmUtNDE0Yy04NzVlLTY4MzM0NjdhMDU1NCIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
    <!-- Main content -->
    {{!-- <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>150</h3>

                            <p>New Orders</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section> --}}
</div>
{{#section 'custom_script'}}
<script>
$(document).ready(function(){

})

 
</script>
{{/section}}